.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /*auto-fill (calcula el width) y minmax (para adaptar cada item al ancho del grid) */
  grid-auto-rows: minmax(200px, auto); /*para ajustar el alto */
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0px;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }

  .grid-container{
    max-width: 900px;
    margin: auto;
  }

  .grid-title{
    font-size: 25px;
  }
}
