:root {
  --theme-color: white;
  --primary-color: #124f88;
  --secundary-color: #F7C331;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #3A4460;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lexend', sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: 70px;
}

main{
  max-width: 1400px;
  margin: 0 auto;
  
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.top-social a{
	font-size: 18px;
	color:#fff;
	padding: 0 5px;
}
.top-social a:hover{
	color:#343434;
}

@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}